extends layout

block content 
  section.content
    - let kinds = Object.keys(flash || {});
          if kinds.length > 0
            ul.ulFlash
              each kind in kinds
                each message in flash[kind]
                  li.flash(class=kind)= message
    each post in posts 
      .post
        a(href=`/view/post/${post.id}`) 
          h3.username #{post.username}
        a(href=`/view/post/${post.id}`) 
          p.date #{post.date_created}
        a(href=`/view/post/${post.id}`) 
          .post-content
            each line in post.content.split("\n")
              p #{line}
        ul.likes
          li
            form(action=`/like/${post.id}` method="post") 
              button 🖤 #{post.likes}
      