extends layout 

block content 
  section.content 
    - let kinds = Object.keys(flash || {});
          if kinds.length > 0
            ul.ulFlash
              each kind in kinds
                each message in flash[kind]
                  li.flash(class=kind)= message
    .post
      h3.username #{currPost.username}
      p.date #{currPost.date_created}
      .post-content
        each line in currPost.content.split("\n")
            p #{line}
      ul.post-nav
          li
            if currPost.liked
              form(action=`/unlike/${currPost.id}` method="post") 
                button.btn-small ❤️ #{currPost.likes}
            else 
              form(action=`/like/${currPost.id}` method="post") 
                button(class="btn-small") 🖤 #{currPost.likes}
          li 
            a(href=`/post/comment/${currPost.id}`)
              button(class="btn-small") 🗨️ #{currPost.comments}
    each comment in currPostComments
      .comment
        h3.username #{comment.username}
        p.date #{comment.date_created}
        .comment-content
          each line in comment.comment_text.split("\n")
              p #{line}